absl-py
accelerate
aiofiles
albucore
albumentations
annotated-doc
annotated-types
antlr4-python3-runtime
anyio
attrs
av
bitsandbytes
brotli
certifi
charset-normalizer
clean-fid
click
clip-anytorch
contourpy
controlnet-aux
cycler
dctorch
diffusers
einops
eval-type-backport
fastapi
ffmpy
filelock
flash-attn
flatten-json
fonttools
fsspec
ftfy
gitdb
gitpython
gradio
gradio-client
groovy
grpcio
h11
hf-transfer
hf-xet
httpcore
httpx
huggingface-hub
idna
imageio
importlib-metadata
invisible-watermark
jinja2
jsonmerge
jsonschema
jsonschema-specifications
k-diffusion
kiwisolver
kornia
kornia-rs
lazy-loader
lpips
lycoris-lora
markdown
markdown-it-py
markupsafe
matplotlib
mdurl
mpmath
networkx
ninja
numpy
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-cufile-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-cusparselt-cu12
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvtx-cu12
omegaconf
open-clip-torch
opencv-python
opencv-python-headless
optimum-quanto
orjson
oyaml
packaging
pandas
peft
pillow
platformdirs
prodigyopt
protobuf
psutil
pydantic
pydantic-core
pydub
pygments
pyparsing
python-dateutil
python-dotenv
python-multipart
python-slugify
pytorch-fid
pytorch-wavelets
pytz
pywavelets
pyyaml
referencing
regex
requests
rich
rpds-py
safehttpx
safetensors
scikit-image
scipy
semantic-version
sentencepiece
sentry-sdk
setuptools
shellingham
six
smmap
starlette
sympy
tensorboard
tensorboard-data-server
text-unidecode
tifffile
timm
tokenizers
toml
tomlkit
torch
torchao
torchaudio
torchcodec
torchdiffeq
torchsde
torchvision
tqdm
trampoline
transformers
triton
typer
typing-extensions
typing-inspection
urllib3
uvicorn
wandb
wcwidth
werkzeug
zipp
